In [1]:
##Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

string="raja","madhu","mama"
print(string)
list=[1,"zero", "true" ,1+5j]
print(list)
float= 3.06
print(float)
tupple = (1,3,'raja',9)
print(tupple)

('raja', 'madhu', 'mama')
[1, 'zero', 'true', (1+5j)]
3.06
(1, 3, 'raja', 9)

In [2]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.

var1 = ''
var2 = "[ DS , ML , Python]"
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1),type(var2),type(var3),type(var4))

<class 'str'> <class 'str'> <class 'list'> <class 'float'>

In [3]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

 # / use for division
x=25
y=5
print(x/y)
#%use for reminder
x=19
y=2
print(x%2)
#// use for quotient
x=27
y=2
print(x//y)
#** use for power
x=8
y=2
print(x**y)

5.0
1
13
64

In [7]:
 #Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

l=['nwton','python',5,95,'mumbai',15.96,2+3j,88,'jira',23.23]
i=1
for i in l:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
 #Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
a=80
b=2
while a>=b:
    if a%b==0:
        print(b)
    b=b+1

In [5]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
i=1
for i in l:
    if i%3==0:
        print(i,"is divisible by 3")
        print(i)

#2nd way

l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
i=1
for i in l:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
            print(i,"is not divisible by 3")

3 is divisible by 3
3
6 is divisible by 3
6
9 is divisible by 3
9
12 is divisible by 3
12
15 is divisible by 3
15
18 is divisible by 3
18
21 is divisible by 3
21
24 is divisible by 3
24
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#IMmutable=from where we are not change any data.ex in string we are not change any data like ms='RAJA',We are not change letter of RAJA.

#MUTABLE=from where we change datas like in list.ex= list=[1,2,5,8] where we change every data inside liist